.card-item{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid #000000; */
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-item__thumbnail{
    width:200px;
    border-radius: 10px;
}

.card-item__title{
    font-size: 18px;
    font-weight: 500;
}

.card-item__button{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: #2B72F7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    color: #ffffff;
    font-weight: 600;
}